#container {
  max-width: 588px;
  width: 100%;
  margin: auto;
  padding: 0 24px;
  z-index: 1;
  position: relative;
 
  margin-left: auto;
  margin-top: auto;
}
/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  z-index: 1;
  
}
#profile p {
  font-weight: 450;
  line-height: 24px;
  margin-top: 8px;
  font-size: 25px;
  color: wheat;
}
/* switch */
#switch {
  /*  border: 1px solid red; */
  position: relative;
  width: 64px;
  margin: 4px auto;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  color: black;
}
ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: rgba(158, 0, 255, 0.6);
  border: 1px solid white;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s;
  color: black;
}
ul li a:hover {
  background: rgba(159, 5, 149, 0.433);
  border: 1.5px solid white;
  
}
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.3s;
  border-radius: 50%;
  color: white;
}
#social-links a:hover {
  background: rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.375);
} 
footer a {
  text-decoration: none;
  color: white;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top center;
  }

.banner video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
 }
 #audio{
   color: black;
 }
 

